---
layout: page
title: Blog Tags
permalink: /tags/
---

<div class="tags-page">
  {% assign sorted_tags = site.tags | sort %}

  <div class="tag-cloud">
    {% for tag in sorted_tags %}
      <a href="#{{ tag[0] | slugify }}" class="tag">{{ tag[0] }} ({{ tag[1].size }})</a>
    {% endfor %}
  </div>

  <hr>

  {% for tag in sorted_tags %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <ul class="post-list">
      {% for post in tag[1] %}
        <li>
          <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
