---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- include post-meta.html post=post show_author=true -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- unless post.toc == false -%}
          {%- include toc.html toc_id=post.slug -%}
        {%- endunless -%}
        {%- if site.show_excerpts -%}
          <div class="post-content">
          {{ post.excerpt }}
          </div>
        {%- endif -%}
        {%- if post.video_url -%}
          {%- include youtube-embed.html video_url=post.video_url -%}
        {%- endif -%}
        {%- unless forloop.last -%}
        <img src="{{ '/assets/images/site/post-separator.png' | relative_url }}" class="post-separator" alt="">
        {%- endunless -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
